.list-wrapper h2 {
    color: #8593b4;
    font-weight: 300;
}

.list-area {
    padding: 15px;
    background-color: #f4f7f9;
    border-radius: 15px;
}

.list-area .card:last-child {
    margin-bottom:0;
}