.wrapper {
    padding: 30px;
}

.title-bar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 30px;
}

.title-bar h1{
    font-size: 24px;
    margin-right: 30px;
    margin:0;
    color: #751289;
    display: inline-block;
    margin-right: 30px;
}

.title-bar .button-group {
    justify-self: flex-end;
}

.tasks-list-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap : 30px; 
}

.button-group button{
    margin-left: 15px;
}

@media (max-width: 992px) { 
    .tasks-list-wrapper {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 600px) {
    .title-bar { 
        grid-template-columns: 1fr;
    } 
    .title-bar .button-group {
        justify-self: flex-start;
        margin-top: 30px;
    }

    .title-bar .button-group button {
        margin-left: 0;
        margin-right: 30px;
    }
}