.form-modal {   
    background: #f4f7f9;
    padding: 15px; 
    border-radius:15px;
}

.form-modal h2 { 
    color: #8593b4;
    font-weight: 300;
} 

.form-actions {
    display: flex;
    justify-content: space-between;
}

.form-actions button{
    margin-right: 30px;
}

.error {
    color: red;
}

.form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 600px) { 
    .form-modal {
        width: 100%;
    }

}