.tasks-list-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap : 30px; 
}

.button-group button{
    margin-left: 15px;
}

@media (max-width: 992px) { 
    .tasks-list-wrapper {
        grid-template-columns: 1fr;
    }
}